<h1> My Jupyter Notebook on IBM Watson Studio </h1>

<strong> Nathaniel Zbaida </strong> <br>
Current Occupation: Systems Administrator

<em> I am interested in data science because data science can help me answer many questions that I am interested in. As an undergraduate student, I wrote a research thesis on predicting inflation, a very relevant topic in today's economic environment, and I believe data science techniques could provide a better prediction than the techniques I employed in that paper. </em>

<h3> My code in the next cell will calculate the value of n factorial. For example, if n = 4, then n! = 4! = 24 </h3>

In [9]:
print("please enter a whole number")
num = int(input())
temp = num
for i in range(2, num):
    temp = temp * i
print(num, "! = ", temp)

please enter a whole number

 5

5 ! =  120

Example 1. <br>
<br>
***
<br>
Horizontal Rule <br>
<br>
Example 2. <br>
<br>
Bulleted List <br>
<ul>
    <li> item 1 </li>
    <li> item 2 </li>
    <li> item 3 </li>
</ul>
<br>
Example 3. <br>
<br>
Numbered List <br>
<ol>
    <li> item 1 </li>
    <li> item 2 </li>
    <li> item 3 </li>
</ol>